@charset "utf-8";
//@import url(/lib/sanitize.css);

body {
    font-size: 12px;
}

header, footer, #main-wrap {
    min-width: 1000px;
}

header, footer {
    color: #fff;
    background-color: #222;
}

#main-wrap {
    padding: 20px;
}

#calendar {
    margin: 0 auto;
    .calendar-grid {
        padding-left: 1px;
        padding-right: 1px;
    }
    .calendar-menu {
    }
    .calendar-day {
        text-align: center;
    }
    .calendar-box {
        border: 1px solid #222;
        margin-bottom: 5px;
        .calendar-date {
            height: 20px;
            line-height: 20px;
            border-bottom: 1px solid #222;
        }
        .calendar-schedule {
            height: 85px;
            overflow: hidden;

            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

@media (max-width: 478px) {
    header, footer, #main-wrap {
        min-width: 100%;
    }
}