@charset "utf-8";
@import url(/lib/sanitize.css);

@color-black: #222;

body {
    font-size: 12px;
}

header, footer, #main-wrap {
    min-width: 1000px;
}

header, footer {
    color: #fff;
    background-color: @color-black;
    font-size: 3em;
}

#main-wrap {
    padding: 20px;
}

#calendar {
    margin: 0 auto;

    .calendar-list {
        
    }
}
